snippet kol "opcja do kolędy"
<tr>
	<td class="koleda-data">$1 ${2:stycznia} ${3:2019} r. - $4:00</td>
	<td><strong>$5</strong>$6</td>
</tr>
endsnippet

snippet kol2 "druga opcja do kolędy"
<tr>
	<td class="koleda-data" rowspan="2">$1 ${2:stycznia} ${3:2019} r. - $4:00</td>
	<td><strong>$5</strong>$6</td>
</tr>
<tr>
	<td><strong>$7</strong>$8</td>
</tr>
endsnippet
